@CHARSET "UTF-8";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
body {
    font-family: Arial, sans-serif;
    color: gray;
}
.login-form {} .login-form > section img {
    margin-bottom: 20px;
}
.login-form > section a {
    color: #657fed;
}
.login-form h4 {
    font-weight: normal;
    font-size: 20px;
    color: #737373;
    margin-bottom: 20px;
}
#msform fieldset {
    background-color: transparent;
    border: 0 none;
    padding: 40px;
    /*stacking fieldsets above each other*/
    
    position: absolute;
    width: 330px;
}
#msform .login {
    background-color: #f7f7f7;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    margin-left: 80px;
    height: 300px;
    width: 330px;
}
/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/

#msform input,
#msform textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 16px;
}
#logo {
    margin-top: 20px;
    height: 38px;
    width: 500px;
}
#info1 {
    width: 500px;
    margin-top: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    color: #555557;
}
#info2 {
    width: 500px;
    margin: 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #555557;
}
#info4 {
    margin-top: 25px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
#info4 a {
    color: #498af2;
    text-decoration: none;
}
#info5 {
    margin-top: 30px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #87898b;
    font-weight: bold;
}
#logo2 {
    margin-top: 10px;
    height: 27px;
    width: 243px;
}
.footer {
    width: 500px;
}
#bottom {
    float: left;
    padding: 0px;
    margin: 0px;
}
#bottom ul {
    list-style: none;
}
#bottom ul li {
    float: left;
    margin-left: 20px;
    color: gray;
}
/*buttons*/

#msform .action-button {
    font-weight: bold;
    color: white;
    border: 0 none;
    font-size: 13px;
    cursor: pointer;
    padding: 10px 5px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
}
#msform .action-button:hover,
#msform .action-button:focus {}
/*headings*/

.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
.help a {
    margin-top: 10px;
    color: #427fed;
    font-size: 13px;
    cursor: pointer;
    decoration: none;
}
#error_msg {
    color: #dd4b39;
    float: left!important;
    font-size: 12px;
    margin: 10px 0px;
}
#msform span #msg {
    float: left!important;
}
#msg {
    font-size: 12px;
    margin: 10px 0px;
}
.stay {
    font-size: 13px;
    color: #404040;
}